@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-left {
    animation: slideLeft 0.3s ease forwards;
}

.slide-right {
    animation: slideRight 0.3s ease forwards;
}

